$accent-color: #2196f3;
$main-color: #212121;
$text-content-color: #757575;
$main-background-color: #ffffff;
$secondary-background-color: #2f303a;
$button-accent-color: #188ce8;
$additional-background-color: #f5f4fa;
$address-link-color: rgba(255, 255, 255, 0.6);
$typical-padding: 94px;
$typical-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$typical-timing-duration: 250ms;
