.activity {
    @media screen and (max-width:1199px) {
        display: none;
    }
    padding-top: $typical-padding;
    padding-bottom: $typical-padding;

    &__main-title {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
            letter-spacing: 0.03em;
        }

    &__list {
            display: flex;
            margin-left: -30px;
        }
    &__item {
            flex-basis: calc((100% - 90px) / 3);
            margin-left: 30px;
            position: relative;
        }
    &__title {
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $main-background-color;
            background-color: rgba(47, 48, 58, 0.8);
            padding-top: 27px;
            padding-bottom: 27px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

}









