.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: $typical-padding;
        padding-bottom: $typical-padding;
    }

    &-title {
            font-size: 28px;
            line-height: 1.18;
            text-align: center;
            letter-spacing: 0.03em;
            color: $main-color;
            margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.17;
            margin-bottom: 50px;
        }
        }
    
    &-list {
            display: flex;
            justify-content: center;
            text-align: center;
            @media screen and (max-width:1199px){
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
            }
        }
       
}

.clients-list-item {
    @media screen and (max-width:1199px){
    margin-left: 30px;
    margin-top: 30px;
    }
    flex-basis: calc(100% / 2 - 30px);
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
    }

}

@media screen and (min-width:1200px) {
.clients-list-item+.clients-list-item {
        margin-left: 30px;
    }
}


.clients-link {
    display: flex;
    max-width: 210px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill $typical-timing-duration $typical-timing-function,
        border-color $typical-timing-duration $typical-timing-function;
@media screen and (min-width: 768px) {
    max-width: 234px;
}
@media screen and (min-width: 1200px){
    max-width: 170px;
}
        &:hover,
        &:focus {
                fill: $accent-color;
                border-color: $accent-color;
            }
}

