.hero {
    // background-color: $secondary-background-color;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;

    @media screen and (max-width: 479px) {
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
                url(../../images/mob-hero-img.jpg);
        background-size: 480px 400px;
        background-position: center;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../images/mob-hero-img@2x.jpg);
                background-size: 480px 400px; }
    @media screen and (max-width:767px) {
        padding-top: 118px;
        padding-bottom: 118px;
        height: 400px;
    }

&__title {
        margin-bottom: 30px;
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $main-background-color;

        @media screen and (max-width: 767px) {
            font-size: 26px;
            width: 360px;
            
        }
    }
}


.hero__button {
    padding-right: 32px;
    padding-left: 32px;
    display: inline-block;

    &:hover,
    &:focus {
        background-color: $button-accent-color;
    }
}

